<%= form_with model: [list, item], class: "mb-3" do |f| %>
  <div class="input-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Add a new item...", autofocus: true %>
    <%= f.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>
