<div id="new_item_form" data-turbo-broadcast-refresh-permanent>
  <%= form_with model: [list, item], class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.text_field :title, class: "form-control", placeholder: "Add a new item..." %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    </div>
    <% if item.errors[:title].any? %>
      <div class="text-danger small"><%= item.errors[:title].first %></div>
    <% end %>
  <% end %>
</div>
